
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: @heightTopPanel+10px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.login-btn-container {
  text-align: center;
}

.header-login {
  height: 20px;
  background: #4c78ab;
  padding: 0 9px;
  border-radius: 3px 3px 0 0;
  color: white;
  margin: auto;
}
.message-popup {
  min-width: 300px;
}