@import "Const/constants";

* {box-sizing: border-box;}

body {
  font-family: "Lato", sans-serif;
  height: 100%;
}

#main{
  margin-left:@WidthLeftPanel
  //padding-left: 0!important;
}

@import "type";
@import "basket";
@import "topPanel";
@import "login_form";
@import "sigup_form";
@import "leftMenu";
@import "searchBar";
@import "technicList";
@import "technicPage";
@import "profile";
@import "message";
@import "notifications";
@import "about";