.modal-backdrop {
  z-index: 0;
}

button.close_ {
  height: 44px;
  width: 44px;
}

.close_ {
  float: right;
  position: absolute;
  right: 1px;
  top: -5px;
  font-size: 50px;
  font-weight: bold;
  color: #f12208;
}

.close-signup {
  right: 7px;
}

.header-message {
  height: 40px;
  background: #4c78ab;
  padding: 0 9px;
  border-radius: 3px 3px 0 0;
  color: white;
  margin: auto auto;
  line-height: 40px
}

.right {
  float: right !important;
  line-height: 40px;
}
.left {
  float: left;
}

.message-title {
  color: #555;
  margin: 12px 6px 4px 6px;
}
.message-textarea {
  resize: none;
}

.message-btn-ok{
  width: 50%;
  border: none;
  min-width: 64px;
  margin: 0!important;
}

.message-btn-ok, .message-btn-ok:hover  {
  background: #4c78ab;
}

.message-btn-container {
  text-align: center;
}