.img-thumbnail {
  width: 250px;
  height: 250px;
}

.toMainPageBtn {
  margin-left: -45px;
  border-radius: 20px;
  z-index: inherit;
}

input[type='file'] {
  color: transparent;
}

.toMainPageBtn:hover {
  -o-transform: translate(30px);
  -ms-transform: translate(30px);
  -moz-transform: translate(30px);
  -webkit-transform: translate(30px);
  transform: translate(30px);
  transition: 1s;
}

.profile-fields-container{
  text-align: center!important;
  padding: 0 10%;
}

.profile-container{
  min-width: 300px;
  margin-top: @heightTopPanel;
}

.file-wrapper {
    width: 140px;
    overflow:hidden;
}