@h11: 220px;
@w11: 350px;
@pr1: 5px;
@pb1: 5px;

.technics {
  width                : 100%;
  display              : grid;
  padding              : 3% 10%;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows   : auto;
  grid-gap             : 20px;
}

.technic-card{
  height: 100%;
}

.equipments{
  width                : 100%;
  display              : grid;
  padding              : 3% 10%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows   : auto;
  grid-gap             : 20px;
}

.oneTechnic {
  position      : relative;
  padding-right : @pr1  !important;
  padding-left  : 0px !important;
  padding-bottom: @pb1;
  overflow      : hidden;

  img {
    width       : 100%;
    height      : 81%;
    border-width: 1px;
    border-color: #999;
    border-style: dashed;
  }
}

.model {
  font-size    : 22px;
  height       : 29px;
  margin-bottom: 4px;
  font-family  : "Times New Roman", Times, Gabriola;
  overflow     : hidden;
  text-overflow: ellipsis;
}

.equipment_info {
  color: #414042;
}

.description,
.amount,
.price,
.mark_t,
.vendor_code {
  font-size    : 16px;
  height       : 20px;
  overflow     : hidden;
  text-overflow: ellipsis;
  color        : #898989;
}


.vendor_code_label,
.price_equipment {
  width  : 90px;
  display: inline-flex;
}

.description {
  height: 40px;
}


.nothing_found {
  display           : none;
  font-size         : 24px;
  //background-color: #c4c4c4;
  text-align        : center;
}