<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KS45HK4');</script>
    <!-- End Google Tag Manager -->

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    
    <script src="https://kit.fontawesome.com/572f7f2830.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <!--style for text-->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <!--font awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KS45HK4"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% include common/header.ejs %>
<% include common/basket.ejs %>

<div>

<div style="width: 165px; float: left; position: fixed;"> <button class="toMainPageBtn">На головну</button> </div>

<div class="container profile-container"  id ="kkk">


    <h1 class="page-header">Edit Profile</h1>
    <div class="row">

        <!-- left column -->
        <div class="col-lg-4 col-xs-12">

            <div class="text-center">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar" id="my_avatar">
                <h6>Завантажити фото</h6>
                <input
                       type="file"
                       id="photo_input"
                       accept="image/*"
                       class="text-center center-block well well-sm file-wrapper">
                <script>
                    var loadFile = function(event) {
                        var image = document.getElementById('my_avatar');
                        image.src = URL.createObjectURL(event.target.files[0]);
                    };
                </script>
            </div>
        </div>
        <!-- edit form column -->
        <div class="col-xs-1 col-lg-0"></div>
        <div class="col-lg-8 col-xs-10 text-center personal-info profile-fields-container">

            <form class="form-horizontal" role="form" id="form_user_info">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Прізвище</label>
                    <div class="col-lg-8">
                        <input class="form-control" value="" id="surname_value" type="surname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Ім'я</label>
                    <div class="col-lg-8">
                        <input class="form-control" value="" id="name_value" type="name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Телефон</label>
                    <div class="col-lg-8">
                        <input class="form-control" id="phone_value" value="" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Місце проживання</label>
                    <div class="col-lg-8">
                        <input class="form-control" value="" id="location_value"  type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Пункт Нової Пошти</label>
                    <div class="col-lg-8">
                        <input class="form-control" value="" id="location_post_office_value"type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Відділення Нової Пошти</label>
                    <div class="col-lg-8">
                        <input class="form-control" value="" id="post_office_number_value" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Пароль</label>
                    <div class="col-lg-8">
                        <input class="form-control" value="" id="password_value" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Підтвердіть пароль</label>
                    <div class="col-lg-8">
                        <input class="form-control" value="" id ="password_confirm_value" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label"></label>
                    <div class="col-lg-8">
                        <input class="btn btn-primary" id = "update_user_info" value="Зберегти" type="button">
                        <span></span>
                        <input class="btn btn-default" value="Скасувати" type="reset" onclick="document.location.href='http://localhost:5050/' ">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</div>


<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript"  src="assets/js/profile_main.js"> </script>
<!--font awesome-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</body>
</html>