<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    
    <script src="https://kit.fontawesome.com/572f7f2830.js" crossorigin="anonymous"></script>
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <!--style for text-->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

</head>

<body>

    <% include common/header.ejs %>
    <% include common/basket.ejs %>
    <% include common/left_panel.ejs %>

    <div id="main" class="container-fluid">
        <div class='type_header'>

            <% if(types){ %>
            <%= types %>
            <% } else{ %>
            <% if(mark) {%>
            Вся техніка марки <%= mark %>
            <% } else {%>
            Запчастини
            <% } %>
            <% } %>

        </div>

        <% include common/searchBar.ejs %>
        <div class="nothing_found">Нічого не знайдено. Напишіть повідомлення, щоб замовити товар!!!</div>

        <% if(!mark && !types) {%>
        <div class="equipments">
            <% } else { %>
            <div class="technics">
                <%}%>
    </div>
</div>

</div>
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<% if(!mark && !types) {%>
                <script type="text/javascript" src="assets/js/equipmentsMain.js"> </script>
                <%} else {%>
                <script type="text/javascript" src="assets/js/technicsMain.js"> </script>
                <% } %>
</body>

</html>