<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154016757-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-154016757-1');
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KS45HK4"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    
    <script src="https://kit.fontawesome.com/572f7f2830.js" crossorigin="anonymous"></script>
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <!--style for text-->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <!--font awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '446478622679823');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=446478622679823&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KS45HK4"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <% include common/header.ejs %>
    <% include common/basket.ejs %>
    <% include common/left_panel.ejs %>

    <div id="main">
        <div class='type_header'>

            <% if(types){ %>
            <%= types %>
            <% } else{ %>
            <% if(mark) {%>
            Вся техніка марки <%= mark %>
            <% } else {%>
            Запчастини
            <% } %>
            <% } %>

        </div>

        <% include common/searchBar.ejs %>
        <div class="nothing_found">Нічого не знайдено. Напишіть повідомлення, щоб замовити товар!!!</div>

        <% if(!mark && !types) {%>
        <div class="equipments">
            <% } else { %>
            <div class="technics">
                <%}%>
    </div>
            <div id="description_technic_equipment" style="height: 100px; border: #4c78ab"></div>
            <p>
                <% if(types == "Комбайни"){ %>
                "Комбайни від "TrackTop"
                Наші комбайни, як нові так і бу, володіють високими технічними характеристиками і найвищими стандатами
                якості.

                Представлені в асортименті комбайни виготовляються передовими агро-брендами Європи(Джон Дір, Масей
                Фергюсон, Клаас тощо.).

                Ми гарантуємо:
                Технічна справність техніки;
                Довговічність експлуатації;
                Ефективність.

                Покупка високоефективних комбайнів – доступний, вигідний вибір з подальшим співробітництвом з
                «TrackTop».
                Наші комбайни будуть служити вам довгі роки, адже всі вони пройшли перевірку якості.
                <% } else { %>
                <% if(types=="Плуги"){  %>
                Плуги від "TrackTop"
                Наші плуги, як нові так і бу, володіють високими технічними характеристиками і найвищими стандатами
                якості.
                Пропонуємо плуги для різних тракторів(до мзт, білоруса тощо).

                Наші плуги найкращі. Поєднання найновітніших сплавів і магія форм, гарантує вам відмінний результат.
                Чого ти чекаєш? Не будь плугом - купуй плуг.
                <% } else { %>
                <% } if(types=="Преси-підбирачі"){ %>
                Преси підбирачі у TrackTop
                Наші Преси, як нові так і бу, володіють високими технічними характеристиками і найвищими стандатами
                якості.
                Пропонуємо преси різних типів.

                Хороші та надійні преси підбирачі є у кожного поважаючого себе фермера. Вам пощастило,
                тому що саме у нас можна такі придбати. Якість і надійність це те, як коротко можна охаректеризувати
                наші преси підбирачі.
                <% } else { %>
                <% } if(types=="Сівалки"){ %>
                Сівалки від "TrackTop"
                Наші сівалки, як нові так і бу, володіють високими технічними характеристиками і найвищими стандатами
                якості.
                Пропонуємо усі види сівалок(бурякова, кукурудзяна, зернова тощо).

                Хочете засіяти своє поле, але не впевнені в якості сівалок, які продаються у звичайних
                агро магазинах? Тоді ви потрапили туди куди треба. Наші сівалки високої якості, і тільки тих
                бренди, які перевірені роками. Ви можете приїхати і переконатися.
                <% } else { %>
                <% } if(types=="Трактори"){ %>
                Тактори від "TrackTop"
                Наші Трактори, як нові так і бу, володіють високими технічними характеристиками і найвищими стандатами
                якості.
                Представлені в асортименті трактори виготовляються передовими агро-брендами Європи(МЗТ, білорус тощо.).

                Наші трактори показали себе найкращими у ряді тестів і довели свою надійність результатами.
                Якщо вам потрібна якість, то це до нас. Поспішайте.
                <% } %>
                <% } %>
                </p>
            </div>


        </div>
        <!-- jQuery JavaScript -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

        <!--Bootsrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <% if(!mark && !types) {%>
        <script type="text/javascript" src="assets/js/equipmentsMain.js"> </script>
        <%} else {%>
        <script type="text/javascript" src="assets/js/technicsMain.js"> </script>
        <% } %>
</body>

</html>