<div id="basketColumn" class="sidenav secondColumn">
    <a href="javascript:void(0)" class="basketCloseBtn">&times;</a>

    <div class="orderLabel">
        <span class="labelOrder"><b>Замовлення</b></span>
        <span class="label label-warning amountOfBoughtPizz">0</span>
        <span class="labelOrderDelete" role="button">Очистити</span>
    </div>

    <div class="container buyList">

    </div>

    <div class="endOrderLabel">
        <span class="sumLabel"><b>Сума замовлення</b></span>
        <span class="amountLabel"><b>0 грн</b></span>
        <div class="buttonOrderDiv">
            <button type="button" class="btn btn-warning btn-lg btn-block orderButton">Замовити</button>
        </div>
    </div>
</div>

