<div class="footer">
    <div class="about-cart">
        <span class="about-us-block">
            <h4>TrackTop company</h4>
            <a href="http://tracktop.com.ua" class="m-left-5">
                Про нас
            </a>
        </span>
        <span class="contacts-block">
            <h4>Contacts</h4>
            <div>
                <i class="fab fa-viber"></i>
                <i class="fab fa-telegram"></i>
                <span class="m-left-5">
                    (067) 646-22-44
                </span>
            </div>
            <div>
                <i class="fab fa-viber"></i>
                <i class="fab fa-telegram"></i>
                <span class="m-left-5">
                     (067) 922-33-97
                </span>
            </div>
            <div>
                <i class="fab fa-viber"></i>
                <i class="fab fa-telegram"></i>
                <span class="m-left-5">
                   (097) 837-87-72
                </span>
            </div>
            <div>
                <span>
                   Korchyn, Ukraine
                </span>
            </div>
        </span>
    </div>
</div>