<div class="footer">
    <div class="about-cart row">
        <span class="col-lg-3 col-xs-12 contacts-block">
            <h4>TrackTop company</h4>
            <a href="http://tracktop.com.ua/about" style="display: block" class="m-left-5">
                Про нас
            </a>
            <span class="m-left-5">
                <a href="https://t.me/TrackTopLviv" class="social-items fab fa-telegram"></a>
            </span>
            <span class="m-left-5">
                <a href="https://invite.viber.com/?g2=AQB3zGXsatWLG0pH6Rf7Wb33IAjhGy7MAoMRBEByk1jDUKliZohw3FnC32CTQZKK" class="social-items fab fa-viber"></a>
            </span>
            <span class="m-left-5">
                <a href="https://www.facebook.com/TrackTop-108350853982669/?modal=admin_todo_tour" class="social-items fab fa-facebook m-left-5"></a>
            </span>
        </span>
        <span class="col-lg-3 col-xs-12 contacts-block">
            <h4>Contacts</h4>
            <div>
                <div>
                    <a href="mailto:tracktop@tracktop.com.ua">tracktop@tracktop.com.ua</a>
                </div>
                <div>
                    <a href="mailto:mike@tracktop.com.ua">mike@tracktop.com.ua</a>
                </div>
            </div>
            <div>
                <span>
                   Korchyn, Ukraine
                </span>
            </div>
        </span>
        <span class="col-lg-4 col-xs-12 contacts-block">
            <h4>Phones</h4>
            <div>
                <i class="fab fa-viber"></i>
                <i class="fab fa-telegram"></i>
                <span class="m-left-5">
                    (067) 646-22-44
                </span>
            </div>
            <div>
                <i class="fab fa-viber"></i>
                <i class="fab fa-telegram"></i>
                <span class="m-left-5">
                     (067) 922-33-97
                </span>
            </div>
            <div>
                <i class="fab fa-viber"></i>
                <i class="fab fa-telegram"></i>
                <span class="m-left-5">
                   (097) 837-87-72
                </span>
            </div>
        </span>
    </div>
</div>