<% include message.ejs %>
<div class="header">
    <img id="logo" src="assets\images\logo.png" alt='This is a logo image'>


    <span id="contact_phone"><img src="assets/images/viber24.png" style="height: 24px"> <img
            src="assets/images/telegram24.png" style="height: 24px;margin-right: 4px">380 67 646 22 44</span>

    <div class="header-right">
        <div class="mess-bask">
            <a id="writeMessageMainPage" onclick="openMessageModal();"><i class="fas fa-envelope icons"></i></a>
            <a id="basketBtn" class='basketBtn'><i class="fa fa-shopping-basket icons"></i></a>
        </div>
        <div class="log-sign">
            <a id="signup" href="#signup" display="none">Зареєструватись</a>
            <a id="login" href="#login" display="none">Увійти</a>
            <img id="user_photo" alt='This is a user image' display="none">
        </div>
    </div>
</div>

<div id="notifications"></div>


<!--(contains the Pop up user info) -->
<div class="form-popup" id="user_info">
    <form class="form-container">

        <div class="menu_item">
            <label class="menu_item" id="full_name">Name<b></b></label>
        </div>

        <div class="menu_item">
            <label for="phone" id="user_phone"><b>Телефон</b></label><br>
        </div>

        <div class="menu_item edit-profile">
            <label><b>Редагувати профіль</b></label><br>
        </div>
        <div class="menu_item purchase_history">
            <label>Історія покупок</label>
        </div>
        <button type="button" class="btn" id="exit_btn">Вийти</button>
    </form>
</div>

<!--(contains the Log in  form) -->
<div class="form-popup" id="myForm">
    <form class="form-container" onsubmit="return false">
        <h1>Login</h1>

        <label for="phone"><b>Телефон</b></label>
        <input type="text" placeholder="Введіть ваш номер телефону" name="phone" required>

        <label for="psw"><b>Пароль</b></label>
        <input type="password" placeholder="Введіть ваш пароль" name="psw" required>
        <button id="log_in_btn" class="btn">Увійти</button>
        <button type="button" class="btn cancel">Закрити</button>
    </form>
</div>


<!-- The Modal (contains the Sign Up form) -->
<div id="id01" class="modal">

    <form class="modal-content" onsubmit='return false'>
        <div class="header-signup">
            <div class="left">
                <span class="text-uppercase">Реєстрація</span>
            </div>
            <div class="right">
                <div onclick="document.getElementById('id01').style.display='none'"
                    class="fa fa-remove popup-close link" title="Закрити"></div>
            </div>
        </div>
        <div class="container">
            <span class="form-group">
                <input type="text" placeholder="Ваше прізвище" name="surname" title="Введіть прізвище"
                    class="form-control form-item" required>
                <input type="text" placeholder="Ваше ім'я" title="Введіть ім'я" name="name"
                    class="form-control form-item" required>
                <input type="text" placeholder="Номер телефону" title="Введіть номер телефону" name="phone"
                    class="form-control form-item" required>
                <input type="password" placeholder="Пароль" title="Введіть пароль" name="psw"
                    class="form-control form-item" required>
                <input type="text" placeholder="Населений пункт" title="Введіть населений пункт" name="location"
                    class="form-control form-item" required>
                <input type="email" placeholder="Email" title="Введіть email" name="email"
                    class="form-control form-item">
                <label class="form-item">
                    <input type="checkbox" checked="checked" name="remember"> Запам'ятати
                </label>
            </span>

            <div class="signup-btn-container">
                <button id="signup_btn" class="signup btn small btn-ok">OK</button>
                <button type="button" onclick="document.getElementById('id01').style.display='none'"
                    class="btn btn-primary btn-small btn-cancel">
                    СКАСУВАТИ
                </button>
            </div>
        </div>
    </form>
</div>