

<div class="header">
    <img id= "logo" src="assets\images\logo.png" alt='This is a logo image'>


    <span id = "contact_phone">+380 93 493 14 81</span>

    <div class="header-right">
        <a id="basketBtn" class='basketBtn'>Покупки</a>
        <a id = "signup" href="#signup" display="none">Зареєструватись</a>
        <a  id= "login" href="#login" display="none">Увійти</a>
        <img id= "user_photo" src="assets\images\user.png" alt='This is a user image' display="none">

    </div>
</div>


<!--(contains the Pop up user info) -->
<div class="form-popup" id="user_info">
    <form  class="form-container">

        <div class = "menu_item">
        <label  class = "menu_item" id = "full_name">Name<b></b></label>
        </div>

        <div class = "menu_item">
        <label for="phone" id = "user_phone"><b>Телефон</b></label><br>
        </div>

        <div class = "menu_item edit-profile">
        <label ><b>Редагувати профіль</b></label><br>
        </div>
        <div class = "menu_item purchase_history">
        <label >Історія покупок</label>
        </div>
        <button type="button" class="btn"  id = "exit_btn">Вийти</button>
    </form>
</div>

<!--(contains the Log in  form) -->
<div class="form-popup" id="myForm">
    <form  class="form-container">
        <h1>Login</h1>

        <label for="phone"><b>Телефон</b></label>
        <input type="text" placeholder="Введіть ваш номер телефону" name="phone" required>

        <label for="psw"><b>Пароль</b></label>
        <input type="password" placeholder="Введіть ваш пароль" name="psw" required>

        <button id = "log_in_btn" type="submit" class="btn">Увійти</button>
        <button type="button" class="btn cancel">Закрити</button>
    </form>
</div>


<!-- The Modal (contains the Sign Up form) -->
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">X</span>
    <form class="modal-content" >
        <div class="container">
            <h1>Форма реєстрації</h1>
            <p>Заповніть цю форму, щоб зареєструватись</p>
            <hr>
            <label for="surname"><b>Прізвище</b></label>
            <input type="text" placeholder="Ваше прізвище" name="surname" required>

            <label for="name"><b>Ім'я</b></label>
            <input type="text" placeholder="Ваше ім'я" name="name" required>

            <label for="phone"><b>Номер телефону</b></label>
            <input type="text" placeholder="Номер телефону" name="phone" required>

            <label for="psw"><b>Пароль</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <label for="location"><b>Населений пункт</b></label>
            <input type="text" placeholder="Введіть населений пункт,в якому ви проживаєте" name="location" required>

            <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Запам'ятати
            </label>


            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Скасувати</button>
                <button id ="signup_btn" class="signup">Зареєструватись</button>
            </div>
        </div>
    </form>
</div>