
<% include message.ejs %>
<div class="header">
    <img id= "logo" src="assets\images\logo.png" alt='This is a logo image'>


    <span id = "contact_phone"><img src="assets/images/viber24.png" style="height: 24px"> <img src="assets/images/telegram24.png" style="height: 24px;margin-right: 4px">380 67 646 22 44</span>

    <div class="header-right">
        <a id="writeMessageMainPage" onclick="openMessageModal();"><img src="assets/images/letterMainPanel.png" style="height: 48px;margin-top: -8px;"></a>
        <a id="basketBtn" class='basketBtn'><img src="assets/images/cartMainPanel.png" style="height: 50px;margin-top: -10px;"></a>
        <a id = "signup" href="#signup" display="none">Зареєструватись</a>
        <a  id= "login" href="#login" display="none">Увійти</a>
        <img id= "user_photo" alt='This is a user image' display="none">

    </div>
</div>

<div id="notifications"></div>


<!--(contains the Pop up user info) -->
<div class="form-popup" id="user_info">
    <form  class="form-container">

        <div class = "menu_item">
        <label  class = "menu_item" id = "full_name">Name<b></b></label>
        </div>

        <div class = "menu_item">
        <label for="phone" id = "user_phone"><b>Телефон</b></label><br>
        </div>

        <div class = "menu_item edit-profile">
        <label ><b>Редагувати профіль</b></label><br>
        </div>
        <div class = "menu_item purchase_history">
        <label >Історія покупок</label>
        </div>
        <button type="button" class="btn"  id = "exit_btn">Вийти</button>
    </form>
</div>

<!--(contains the Log in  form) -->
<div class="form-popup" id="myForm" >
    <form  class="form-container" onsubmit="return false">
        <h1>Login</h1>

        <label for="phone"><b>Телефон</b></label>
        <input type="text" placeholder="Введіть ваш номер телефону" name="phone" required>

        <label for="psw"><b>Пароль</b></label>
        <input type="password" placeholder="Введіть ваш пароль" name="psw" required>
        <button id = "log_in_btn" class="btn">Увійти</button>
        <button type="button" class="btn cancel">Закрити</button>
    </form>
</div>


<!-- The Modal (contains the Sign Up form) -->
<div id="id01" class="modal">

    <form class="modal-content" onsubmit='return false'>
        <div>
            <span class="text-uppercase">Реєстрація</span>
            <span onclick="document.getElementById('id01').style.display='none'" class="close_ close-signup fa fa-remove" title="Закрити"></span>
        </div>
        <div class="container">
            <div class="form-group">
                <input type="text" placeholder="Ваше прізвище" name="surname" required>
                <input type="text" placeholder="Ваше ім'я" name="name" required>
                <input type="text" placeholder="Номер телефону" name="phone" required>
                <input type="password" placeholder="Пароль" name="psw" required>
                <input type="text" placeholder="Населений пункт" name="location" required>
                <label>
                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Запам'ятати
                </label>
            </div>

            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Скасувати</button>
                <button id ="signup_btn" class="signup">Зареєструватись</button>
            </div>
        </div>
    </form>
</div>