<div class="header">

        <img src="assets\images\трактор.jpg" alt='This is a logo image'>

    <div class="header-right">
        <a href="#home">Покупки</a>
        <a href="#contact">Зареєструватись</a>
        <a href="#about">Увійти</a>
    </div>
</div>
