<div id='vmenuShown' class="navbar-container vmenu">
        <div class="vertical-menu">
                <a href="http://localhost:5050" class="active">На головну</a>
        </div>

        <div class="vertical-menu vertical-menu-equipment">
                <a href="#" class="active">Запчастини</a>
        </div>

        <div class="vertical-menu vertical-menu-technics">
                <a href="#" class="active">Техніка</a>
        </div>
        <div class="vertical-menu vertical-menu-models">
                <a href="#" class="active">Моделі</a>
        </div>

</div>
<div id="menuToggle">
        <input type="checkbox">
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
                <div class="vertical-menu">
                        <a href="http://localhost:5050" class="active">На головну</a>
                </div>

                <div class="vertical-menu vertical-menu-equipment">
                        <a href="#" class="active">Запчастини</a>
                </div>

                <div class="vertical-menu vertical-menu-technics">
                        <a href="#" class="active">Техніка</a>
                </div>
                <div class="vertical-menu vertical-menu-models">
                        <a href="#" class="active">Моделі</a>
                </div>
        </ul>
</div>