<div class="navbar-container vmenu">
        <div class="vertical-menu">
                <a href="#" class="active">На головну</a>
        </div>
        <div class="vertical-menu">
                <a href="#" class="active">Техніка</a>
                <a href="#">Комбайни</a>
                <a href="#">Сівалки</a>
                <a href="#">Трактори</a>
                <a href="#">Інше</a>
        </div>
        <div class="vertical-menu">
                <a href="#" class="active">Моделі</a>
                <a href="#">BMW</a>
                <a href="#">Leasf</a>
                <a href="#">PPP</a>
        </div>
</div>