
<footer class="footer">

    <div class="sidenav">

        <% for (var i = 0; i < info.length; i++) { %>
            <a href="#about">info[i].name</a>
        <% } %>
        <a href="#about">info[i]</a>
        <a href="#services">Services</a>
        <a href="#clients">Clients</a>
        <a href="#contact">Contact</a>
        <button class="dropdown-btn">Dropdown
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
        <a href="#contact">Search</a>
    </div>

</footer>


