<div id="messageModal" class="modal">

    <form class="modal-content" >
        <div class="header-message">
            <div class="left">
                <span>Нове повідомлення</span>
            </div>
            <div class="right">
                <div data-dismiss="modal" onclick="document.getElementById('messageModal').style.display='none'"
                     class="fa fa-remove popup-close link" title="Закрити"></div>
            </div>
        </div>

        <form>
        <div class="container">

            <input id="username_messageForm" type="text" placeholder="Ваше ім'я" name="name"
                   class="form-control form-item" required>
            <input id="phone_messageForm" type="text" placeholder="Номер телефону" name="phone"
                   class="form-control form-item" required>

            <div class="form-group">
                <label class="message-title" for="message">Текст повідомлення</label>
                <textarea id="message" class="form-control message-textarea" required name="message" rows="6" autofocus></textarea>
            </div>

            <div class="message-btn-container">
                <button id="messageModal" type="button" class="btn small message-btn-ok" onclick="sendMessage_My(1);">Надіслати</button>
            </div>
        </div>
        </form>
    </form>
</div>