<div class="topnav_1">
    <input type="text" id="myInput" onkeyup="filterSelection()"  placeholder="Search" title="Type in a name">

</div>

<script>

    function filterSelection() {
        var input =  document.getElementById("myInput");
        filter = input.value.toUpperCase();
        var list;
        list = document.getElementsByClassName("oneTechnic");

        for(let i =0 ; i< list.length;i++) {
            // let a = list[i].getElementsByClassName();
            var txtValue;
            txtValue = list[i].innerText;
            console.log(txtValue);
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                list[i].style.display = "";
            } else {
                list[i].style.display = "none";
            }
            // console.log(list);
        }
    }
</script>