<h2 class="header_table">Запчастини</h2>
<div class="main">

    <!-- Another variation with a button -->
    <span class="input-group  col1">
            <input type="text" class="form-control mysearch" placeholder="Пошук" onkeyup="filterSelect(2)"/>
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button" onclick="openAddEquipmentModel()">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </span>

    <span class="col2">
        <button class="btn btn-secondary" type="button" onclick="openAddEquipmentModel()">
            <i class="fa fa-plus"></i>
        </button>
        </span>
</div>

<div class=" myTable table-responsive-md" id="allEquipments">
    <table class="table  table-striped table-hover table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Назва</th>
            <th>Ціна</th>
            <th>Код</th>
            <th>Кількість</th>
            <th id="">Редагувати</th>
            <th>Видалити</th>

        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


<div id="addEquipmentModel" class="modal">

    <form class="modal-content" onsubmit='return false'>
        <div class="header-signup">
            <div class="left">
                <span class="text-uppercase">Додати запчастину</span>
            </div>
            <div class="right">
                <div data-dismiss="modal" onclick="document.getElementById('addEquipmentModel').style.display='none'"
                     class="fa fa-remove popup-close link" title="Закрити"></div>
            </div>
        </div>
        <div class="container">
            <span class="form-group">
                <span class="name-type">Назва</span>
     <div class="ds">
                 <input id="name-equipment" type="text" placeholder="Назва" class="form-control form-item admin-panel-input" required>
     </div>
                <span class="name-type right-type">Код</span>
     <div class="ds">
                 <input id="equipment-code" type="text" placeholder="Код" class="form-control form-item admin-panel-input">
     </div>
<br>
<div class="name-type">Ціна</div>
               <div class="ds">
                   <input class="form-control form-item admin-panel-input" id="price-input" min="1" name="price-input"
                          placeholder="Ціна" required type="number">

                <div class="currency">
                <select class="form-control form-item ds admin-panel-input" id="currency-choice">
        <option>$</option>
        <option>&euro;</option>
        <option>грн</option>
      </select>
                    </div>
                    </div>

                <!--    <label for="sel1">Тип</label>-->
                <div class="name-type right-type">Стан</div>
                <div class="state">
      <select class="form-control form-item admin-panel-input" id="state-choice" name="sellist1">
        <option selected>Новий</option>
        <option>б/у</option>
      </select>
                    </div>
                <div class="name-type right-type">К-сть</div>
                <div class="amount-input">
                <input id="equipment-amount" type="number" placeholder="Кількість" class="form-control form-item admin-panel-input"
                       min="0" required>
                    <!--                <label for="mark-choice">Модель</label>-->
                </div>

                <br>
                <div>Підходить до:</div>
                <span class="name-type">Категорія</span>
                     <div class="ds"> <select class="form-control form-item admin-panel-input" id="type_technics" name="sellist1"
                                              onchange="getMarks()">
<!--          <option selected disabled>Тип</option>-->
                        <option selected disabled>Тип</option>
                     </select>
         </div>
                <span class="name-type  right-type">Марка</span>
                <div class="ds">
<input class="form-control form-item admin-panel-input" id="mark-choice" list="marks" placeholder="Марка" disabled onchange="showModels()"/>
<!--       onchange="getModels()"-->

</div>
                <datalist id="marks">
                <option disabled selected value="Марка"/>
                 </datalist>

                <div class="form-group">
                    <div class="name-type">Модель</div>
                    <div class="ds ds-models">
                <select class="form-control form-item admin-panel-input" id="model-choice" placeholder="Модель" disabled ></select>
                    </div>
                                <div class="">
                <label for="description">Опис</label>
                <textarea class="form-control" id="description" name="description" rows="6"></textarea>
            </div>
                </div>

             </span>


            <div class="signup-btn-container">
                <button id="signup_btn" class="btn btn-primary btn-small" onclick="addEquipmentToDB()">Додати</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-small"
                        onclick="document.getElementById('addEquipmentModel').style.display='none'">
                    Скасувати
                </button>
            </div>
        </div>
    </form>

</div>