<h2 class="header_table">Техніка</h2>
<div class="main">

    <!-- Another variation with a button -->
    <span class="input-group  col1">
            <input class="form-control mysearch" placeholder="Пошук" type="text" onkeyup="
            filterSelect(1)">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button" >
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </span>

    <span class="col2">
        <button class="btn btn-secondary" onclick="openAddTechnicModel()" type="button">
            <i class="fa fa-plus"></i>
        </button>
        </span>
</div>


<div class="table-responsive-md" id ="allTechnics">
    <table class="table  table-striped table-hover table-bordered">
        <thead class="thead-dark">
        <tr>
            <th id="id">#</th>
            <th>Тип</th>
            <th>Марка</th>
            <th>Модель</th>
            <th>Ціна</th>
            <th>Редагувати</th>
            <th>Видалити</th>

        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</div>

<div class="modal" id="addTechnicModel">

    <form class="modal-content" onsubmit='return false'>
        <div class="header-signup">
            <div class="left">
                <span class="text-uppercase">Додати техніку</span>
            </div>
            <div class="right">
                <div class="fa fa-remove popup-close link" data-dismiss="modal"
                     onclick="document.getElementById('addTechnicModel').style.display='none'" title="Закрити"></div>
            </div>
        </div>
        <div class="container scroll">

            <span class="form-group">
<!--    <label for="sel1">Тип</label>-->
                <span class="name-type">Тип</span>
     <div class="ds"> <select class="form-control form-item admin-panel-input" id="type_technics" name="sellist1" onchange="getModels()">


      </select>
         </div>
                <!--                <label for="mark-choice">Модель</label>-->
                 <span class="name-type  right-type">Марка</span>
                <div class="ds">
<input class="form-control form-item admin-panel-input" id="mark-choice" list="marks" placeholder="Марка" required onchange="getModels()" disabled/>
</div>
<datalist id="marks">
    <option disabled selected value="Марка"/>
</datalist>
                <br>
                <div class="name-type ">Модель</div>
                <div class="ds">
<input class="form-control form-item admin-panel-input" id="model-choice" list="models" placeholder="Модель" required disabled/>
</div>
<datalist id="models">
    <option disabled selected value="Модель"/>
</datalist>


<div class="name-type right-type">Ціна</div>
               <div class="ds">
                   <input class="form-control form-item admin-panel-input" id="price-input-technic" min="1" name ="price-input" placeholder="Ціна" required type="number">

                <div class="currency" >
                <select class="form-control form-item ds admin-panel-input" id="currency-choice">
        <option>$</option>
        <option>&euro;</option>
        <option>грн</option>
      </select>
                    </div>
                    </div>
 <br>


                <div class="name-type">Рік</div>
                <div class="ds">
                <input class="form-control form-item admin-panel-input" max="2020" min="1950" placeholder="Рік випуску" required
                       type="number" name="year-input" id="year-technic-input">
                </div>
                <div class="form-group">
                <label for="description">Опис</label>
                <textarea class="form-control" id="description" name="description" rows="6"></textarea>
            </div>

               <div id="fileUploadForm" class="uploader__box js-uploader__box l-center-box">
  <form id="fileUploadForm" >
      <div class="uploader__contents">
          <label class="button button--secondary" for="fileinput">Додати фото</label>
          <input id="fileinput" class="uploader__file-input" type="file" multiple value="Select Files">
      </div>
      <input class="uploadButton button button--big-bottom" type="submit" value="Upload Selected Files">
  </form>
</div>
             </span>

            <div class="signup-btn-container">
                <button class="btn btn-primary btn-small" id="add-btn" onclick="addTechnicToDB()">Додати</button>
                <button class="btn btn-danger btn-small" data-dismiss="modal"
                        onclick="document.getElementById('addTechnicModel').style.display='none'">
                    Скасувати
                </button>
            </div>
        </div>
    </form>
</div>