<div class='typeDiv'>
    <img src='http://localhost:5050/images/technics_placeholders/<%= type.photo_location %>' >
    <div class='nameType'>
        <h2 class="type_h2"><%= type.name %></h2>
    </div>
</div>