<div class='typeDiv'><!--  col-md-6 col-lg-4 -->
    <img src='/images/technics_placeholders/<%= type.photo_location %>' >
    <div class='nameType font-add'>
        <h2 class="type_h2"><%= type.name %></h2>
    </div>
</div>